body{
 
}

.baner{
     height: 500px;
    background-image: url( '/img/fondo.svg' ); */
     -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.parallax1{
  background-image: url("../img/parallax.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
 background-color: #16193B;
 color:#7FB2F0;
}

.footer .fa-brands{
    color: #7FB2F0;
}

.about{
    padding-top: 50px;
    padding-bottom: 50px;
}