body{
   
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.color-text{
    color: rgb(126, 126, 126);
}

.logo{
    height: 80px;
}

.baner{
    font-family: 'Montserrat', sans-serif;
    
     height: 500px;
    background-image: url( '../img/banner2.jpg' );
     -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    color: white;
}


 
.titulos{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
}

.titulos2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(126, 126, 126);
    font-size: 40px;
    margin-bottom: 60px;
}

.titulos3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(126, 126, 126);
    font-size:30px;

}


.parallax1{
  background-image: url("../img/parallax2.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.footer{
 background-color: #16193B;
 color:#7FB2F0;
}

.footer .fa-brands{
    color: #7FB2F0;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parallax1 h3{
    font-size: 35px;
    font-weight: bold;
    color: white;
}