body{
 
}

.baner{
    min-height: 500px;  
}

.parallax1{
  background-image: url("../img/parallax.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
 background-color: #16193B;
 color:#7FB2F0;
}

.footer .fa-brands{
    color: #7FB2F0;
}